.header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 84px;
}

.header #fixed-number {
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  color: #eaeaea;
  background-color: rgba(4, 4, 4, 0.8);
  z-index: 999;
}

.header #fixed-number .h-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  padding: 7px 26px;
}

.header #fixed-number .h-number img {
  margin-right: 7px;
  width: 20px;
  height: 20px;
}

.header .h-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 71px 0;
  margin-left: 120px;
  margin-right: 33px;
}

.header .h-title #logo {
  width: 228x;
  height: 48px;
}

.header .h-title .h-title__title {
  position: absolute;
  font-size: 48px;
  width: 800px;
  margin-left: 15px;
  -webkit-transform: translateY(300%);
          transform: translateY(300%);
}

.header .h-title .h-title__title span {
  position: relative;
  margin-bottom: 120px;
  padding-left: 10px;
}

.header .h-title .h-title__title #modify {
  background-color: #00ac69;
  position: absolute;
  color: #f9fbff;
  font-size: 54px;
  font-weight: bold;
  width: 586px;
}

.header .h-photo {
  display: block;
  width: 250%;
  height: 100%;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
}

.header .menu {
  width: 100%;
  color: #edf0f5;
  background-color: #32435a;
  font-weight: bold;
  margin: 0;
  padding: 0;
  padding-top: 228px;
}

.header .menu .menu__item {
  list-style: none;
  margin-left: 56px;
  margin-bottom: 32px;
  color: #02c479;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header .menu .menu__item:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #fff;
}

.header .menu .menu__item .link-to {
  color: #02c479;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header .menu .menu__item .link-to:hover {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #fff;
}

#describe {
  margin-bottom: 130px;
}

#describe .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#describe .grid-container .grid-item {
  margin: 0 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

#firstSlider .slick-slider {
  width: 90% !important;
  margin-left: 100px !important;
  margin-bottom: 128px;
}

#firstSlider:before {
  position: absolute;
  display: block;
  content: "";
  height: 1000px;
  width: 27%;
  background-color: #32435a;
  z-index: -1;
}

.f-slide {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  background-color: #fff;
  -webkit-box-shadow: #cdcdcd 0 2px 4px 0;
          box-shadow: #cdcdcd 0 2px 4px 0;
  height: 256px;
  width: 650px !important;
  margin-bottom: 32px;
}

.f-slide img {
  width: 256px;
}

.f-slide .fs-container {
  margin-top: 10px;
  margin-left: 42px;
  text-align: left;
  width: 300px;
}

.f-slide .fs-container .fs-container__title {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.f-slide .fs-container .fs-container__text {
  margin: 0;
  margin-bottom: 15px;
}

.f-slide .fs-container button {
  border: none;
  text-align: center;
  background-color: #00ac69;
  border-radius: 16px;
  padding: 0.2em 2em;
  color: #f9fbff;
}

.slick-prev {
  display: none !important;
}

.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-top: -40px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: #f9bf5d;
}

.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: #f9bf5d;
}

.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next {
  left: 95%;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: url("../img/right-arrow.svg");
}

[dir="rtl"] .slick-next:before {
  content: "";
}

#tabs {
  background-color: #edf0f5;
  padding-bottom: 128px;
}

#tabs .tabContainer {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 15%;
}

#tabs .tabContainer .tabPanel {
  display: none;
  width: 800px;
  background-color: #fff;
  border-right: 1px solid #f2f2f2;
}

#tabs .tabContainer .tabPanel img {
  position: absolute;
  width: 400px;
  height: 330px;
  -webkit-transform: translate(-50%, 25%);
          transform: translate(-50%, 25%);
}

#tabs .tabContainer .tabPanel .text-container {
  padding: 77px 68px 0px 300px;
}

#tabs .tabContainer .tabPanel .text-container .text-container__color-title {
  color: #c7a17a;
  font-size: 18px;
  margin: 0;
}

#tabs .tabContainer .tabPanel .text-container .text-continer__title {
  font-size: 22px;
  margin: 0;
  margin: 19px 0;
}

#tabs .tabContainer .tabPanel .text-container .text-container__text {
  margin: 0;
  margin-bottom: 24px;
}

#tabs .tabContainer .tabPanel .text-container button {
  border: none;
  text-align: center;
  background-color: #f9bf5d;
  border-radius: 16px;
  padding: 0.5em 1.5em;
  color: #f9fbff;
}

#tabs .tabContainer .tabPanel:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tabs .tabContainer .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tabs .tabContainer .buttonContainer button {
  font-size: 30px;
  padding: 61px 34px;
  color: #32435a;
  border: none;
  background-color: #edf0f5;
  cursor: pointer;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}

#tabs .tabContainer .buttonContainer button:hover {
  -webkit-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  background-color: rgba(0, 172, 105, 0.2);
}

#tabs .tabContainer .buttonContainer button:focus {
  outline: none;
  background-color: #eaeaea;
}

#tabs:before {
  position: absolute;
  display: block;
  right: 0;
  content: "";
  height: 860px;
  width: 24%;
  background-color: #f9fbff;
  z-index: 1;
}

#feedback {
  margin-bottom: 244px;
}

#feedback .c-title {
  padding-top: 89px;
}

#feedback .oneRowSliderContainer {
  width: 90%;
  margin-left: 124px;
}

#feedback:before {
  position: absolute;
  display: block;
  right: 0;
  content: "";
  height: 690px;
  width: 24%;
  background-color: #32435a;
  z-index: -1;
}

.sc-item {
  background: #fff;
  width: 558px;
  padding-top: 30px;
  padding-bottom: 39px;
  margin-left: 44px;
  -webkit-box-shadow: 0px 2px 11px rgba(190, 190, 190, 0.5);
          box-shadow: 0px 2px 11px rgba(190, 190, 190, 0.5);
  border-radius: 5px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.sc-item:focus {
  outline: none;
}

.sc-item img {
  margin-left: 30px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.sc-item .sc-item__describe {
  width: 360px;
  margin: 0 27px;
  direction: rtl;
}

.sc-item .sc-item__describe .sc-item__describe__name {
  margin: 0;
  font-weight: 400;
  direction: ltr;
}

.sc-item .sc-item__describe .sc-item__describe__liked {
  color: #3bb284;
  line-height: 26px;
  font-size: 14px;
  margin: 0;
  direction: ltr;
}

.sc-item .sc-item__describe .sc-item__describe__text {
  margin: 0;
  margin-bottom: 45px;
  direction: ltr;
}

.sc-item .sc-item__describe .sc-item__describe__read-more {
  display: inline-block;
  color: #3bb284;
  cursor: pointer;
}

.sc-item .sc-item__describe .sc-item__describe__read-more:hover {
  text-decoration: underline;
}

#footer #info-flex-container {
  border-top: #0e1c2b solid 1px;
  margin: 0 auto;
  width: 1220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 83px;
  padding: 0 60px;
  padding-top: 71px;
}

#footer #info-flex-container .info-container .f-title {
  font-size: 16px;
}

#footer #info-flex-container .info-container .f-text,
#footer #info-flex-container .info-container .f-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer #info-flex-container .info-container .f-text img,
#footer #info-flex-container .info-container .f-tel img {
  width: 20px;
  margin-right: 10px;
}

#footer #info-flex-container .info-container .f-text--margin {
  margin-left: 31px;
}

#footer #info-flex-container .info-container .f-tel {
  font-weight: 600;
}

#footer #f-text {
  background-color: #232323;
  color: #eaeaea;
  text-align: right;
  margin: 0;
  padding: 10px 0;
  padding-right: 40px;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #f9fbff;
  color: #232c38;
}

.c-title {
  margin: 0;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.c-title--bigger {
  font-size: 30px;
  margin-bottom: 76px;
}

.c-title--top {
  font-weight: normal;
  padding-top: 87px;
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #32435a;
}
/*# sourceMappingURL=style.css.map */