#describe {
  margin-bottom: 130px;
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    .grid-item {
      margin: 0 80px;
      align-self: center;
      text-align: center;
    }
  }
}

@media screen and (max-width: 450px) {
  #describe {
    margin-bottom: 35px;
    .grid-container {
      grid-template-columns: repeat(1, 239px);
      .grid-item {
        margin: 0;
        margin-bottom: 50px;
        width: 100%;
      }
    }
  }
}
