#firstSlider {
  .slick-slider {
    width: 90% !important;
    margin-left: 100px !important;
    margin-bottom: 128px;
  }
  &:before {
    position: absolute;
    display: block;
    content: "";
    height: 1000px;
    width: 27%;
    background-color: $PrimaryColor;
    z-index: -1;
  }
}

.f-slide {
  display: flex !important;
  background-color: #fff;
  box-shadow: #cdcdcd 0 2px 4px 0;
  height: 256px;
  width: 650px !important;
  margin-bottom: 32px;
  img {
    width: 256px;
  }
  .fs-container {
    margin-top: 10px;
    margin-left: 42px;
    text-align: left;
    width: 300px;
    .fs-container__title {
      font-weight: 600;
      font-size: 24px;
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .fs-container__text {
      margin: 0;
      margin-bottom: 15px;
    }
    button {
      border: none;
      text-align: center;
      background-color: $AccentColor;
      border-radius: 16px;
      padding: 0.2em 2em;
      color: #f9fbff;
    }
  }
}

.slick-prev {
  display: none !important;
}
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-top: -40px;
  padding: 0;

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: $button;
}

.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: $button;
}

.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-next {
  left: 95%;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: url("../img/right-arrow.svg");
}
[dir="rtl"] .slick-next:before {
  content: "";
}
