#footer {
  #info-flex-container {
    border-top: #0e1c2b solid 1px;
    margin: 0 auto;
    width: 1220px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px;
    padding: 0 60px;
    padding-top: 71px;
    .info-container {
      .f-title {
        font-size: 16px;
      }
      .f-text,
      .f-tel {
        display: flex;
        img {
          width: 20px;
          margin-right: 10px;
        }
      }
      .f-text--margin {
        margin-left: 31px;
      }
      .f-tel {
        font-weight: 600;
      }
      button {
        margin-top: 21px;
        margin-left: 21px;
        border: none;
        text-align: center;
        background-color: $button;
        border-radius: 16px;
        padding: 0.4em 1.5em;
        color: #f9fbff;
      }
    }
  }
  #f-text {
    background-color: #232323;
    color: #eaeaea;
    text-align: right;
    margin: 0;
    padding: 10px 0;
    padding-right: 40px;
  }
}

@media screen and (max-width: 450px) {
  #footer {
    #info-flex-container {
      text-align: center;
      width: 250px;
      flex-direction: column;
      align-items: center;
      .info-container {
        .f-text {
          img {
            display: none;
          }
        }
        .f-text--margin {
          margin-left: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  #footer {
    #info-flex-container {
      width: 200px;
    }
  }
}
