.header {
  height: 100%;
  display: flex;
  margin-bottom: 84px;
  .h-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 71px 0;
    margin-left: 120px;
    margin-right: 33px;
    #logo {
      width: 228x;
      height: 48px;
    }
    .h-title__title {
      position: absolute;
      font-size: 48px;
      width: 800px;
      margin-left: 15px;
      transform: translateY(300%);
      span {
        position: relative;
        margin-bottom: 120px;
        padding-left: 10px;
      }
      #modify {
        background-color: $AccentColor;
        position: absolute;
        color: #f9fbff;
        font-size: 54px;
        font-weight: bold;
        width: 586px;
      }
    }
  }
  .h-photo {
    display: block;
    width: 250%;
    height: 100%;
    background-image: url("../img/header-bg.jpg");
    background-size: cover;
  }
  .menu {
    width: 100%;
    color: $LightGray;
    background-color: $PrimaryColor;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 228px;
    .menu__item {
      list-style: none;
      margin-left: 56px;
      margin-bottom: 32px;
      color: #02c479;
      cursor: pointer;
      transition: all 0.3s ease-out;
      &:hover {
        transition: all 0.2s ease-in;
        color: #fff;
      }
      .link-to {
        color: #02c479;
        text-decoration: none;
        transition: all 0.3s ease-out;
        &:hover {
          transition: all 0.2s ease-in;
          color: #fff;
        }
      }
    }
  }
}
