.secondSlider {
  .slick-slider {
    width: 90% !important;
    margin-left: 100px !important;
    margin-bottom: 128px;
  }
  &:before {
    position: absolute;
    display: block;
    right: 0;
    content: "";
    height: 980px;
    width: 24%;
    background-color: $PrimaryColor;
    z-index: -1;
  }
}

.s-slide {
  background-color: #fff;
  box-shadow: #cdcdcd 0 2px 4px 0;
  height: 562px;
  width: 360px;
  margin-bottom: 32px;
  margin-left: 30px;
  img {
    width: 360px;
    height: 300px;
  }
  .ss-container {
    margin-top: 41px;
    margin-left: 42px;
    text-align: left;
    .s-slide__title {
      margin-bottom: 25px;
    }
    .s-slide__text {
      margin-bottom: 25px;
    }
    button {
      border: none;
      text-align: center;
      background-color: $AccentColor;
      border-radius: 16px;
      padding: 0.2em 2em;
      color: #f9fbff;
    }
  }
}
